
name: Terraform Apply

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment'
        required: true
        default: dev

permissions:
  id-token: write
  contents: read

env:
  location: westeurope
  environment: ${{ github.event.inputs.environment }}
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  ARM_USE_OIDC: "true"

jobs:
  apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .github/Terraform
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="resource_group_name=reactdotnet-management-RG" \
            -backend-config="storage_account_name=tfstatereactdotnetfozzen" \
            -backend-config="container_name=tfstate-$environment" \
            -backend-config="key=terraform.tfstate" \
            -backend-config="use_oidc=true"

      - name: Download Plan Artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan
          path: .github/Terraform

      - name: Terraform Apply
        run: terraform apply -input=false tfplan
