
name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment'
        required: true
        type: choice
        options:
          - dev
          - test
          - prod
        default: dev

permissions:
  id-token: write
  contents: read

env:
  location: westeurope
  environment: ${{ github.event.inputs.environment }}
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

jobs:
  destroy:
    name: Terraform Destroy
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .github/Terraform
        shell: bash

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: |
        terraform init \
          -backend-config="resource_group_name=reactdotnet-management-RG" \
          -backend-config="storage_account_name=tfstatereactdotnetfozzen" \
          -backend-config="container_name=tfstate-$environment" \
          -backend-config="key=terraform.tfstate" \
          -backend-config="use_oidc=true"

    - name: Terraform Format
      run: terraform fmt -recursive

    - name: Terraform Validate
      run: terraform validate 

    - name: Terraform Plan (Destroy)
      run: terraform plan -destroy -input=false \
            -var location=$location \
            -var environment=$environment

    - name: Terraform Destroy
      run: terraform destroy -auto-approve -input=false \
            -var location=$location \
            -var environment=$environment
